<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Mask to Material Design
  </h1>
<div class="example-container">

<form [formGroup]="maskForm" (ngSubmit)="submit()">


  <mat-form-field>
<input matInput placeholder="Cpf" name="cpf" formControlName="cpf" mask="000.000.000-00">

  </mat-form-field>

  <mat-form-field>
<input matInput placeholder="Telefone" name="telefone" formControlName="telefone" mask="(00)90000-0000">

  </mat-form-field>

<button mat-raised-button type="submit" color="primary">Enviar</button>



  </form>

</div>



</div>

